<div data-theme="a" data-role="header">
    <a data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">
        Back
    </a>
    <h3>
        Add Dependency
    </h3>
</div>
<div data-role="content">
    <div data-role="fieldcontain">
        <label for="addDependencyMenu">
            Choose:
        </label>
        <select id="addDependencyMenu" name="">
            
        </select>
    </div>
	<a data-role="button" href="" class="addDependency">
		Update
	</a>
</div>