<div data-theme="a" data-role="header">
    <a data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">
        Back
    </a>
    <h3>
        User
    </h3>
</div>
<div data-role="content">
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <h4>
                User Name
            </h4>
        </div>
        <div class="ui-block-b">
            <h4 id="userNameText">
                NA
            </h4>
        </div>
		
        <div class="ui-block-a">
            <h4>
                Friendly Name
            </h4>
        </div>
        <div class="ui-block-b">
            <h4 id="friendlyNameText">
                NA
            </h4>
        </div>
		
        <div class="ui-block-a">
            <h4>
                Email
            </h4>
        </div>
        <div class="ui-block-b">
            <h4 id="emailText">
                NA
            </h4>
        </div>
		
        <div class="ui-block-a">
            <h4>
                Roles
            </h4>
        </div>
        <div class="ui-block-b">
            <h4 id="rolesText">
                NA
            </h4>
        </div>
		
    </div>
</div>