<div data-theme="a" data-role="header">
    <a data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">
        Back
    </a>
    <h3>
        Object
    </h3>
</div>
<div data-role="content">
	<div id="properties" class="tab-content">
		<form action="" method="POST">
			<div data-role="fieldcontain">
				<label for="description">
					Description
				</label>
				<input name="description" id="description" placeholder="" value="" type="text" >
			</div>
			<div data-role="fieldcontain">
				<label for="category">
					Category
				</label>
				<input name="category" id="category" placeholder="" value="" type="text" >
			</div>
			<div data-role="fieldcontain">
				<label for="cost">
					Cost
				</label>
				<input name="cost" id="cost" placeholder="" value="0" type="number" >
			</div>
			<div data-role="fieldcontain">
				<label for="dueBy">
					Due by
				</label>
				<input name="dueBy" id="dueBy" placeholder="" value="" type="date" >
			</div>
			<div data-role="fieldcontain">
				<label for="notes">
					Notes
				</label>
				<textarea name="notes" id="notes" placeholder="" ></textarea>
			</div>
		</form>
		<div data-role="fieldcontain">
            <label for="complete">
                Complete?
            </label>
            <select name="complete" id="complete" data-theme="" data-role="slider"  disabled="disabled">
                <option value="off">
                    No
                </option>
                <option value="on">
                    Yes
                </option>
            </select>
		</div>
		<div data-role="fieldcontain">
            <label for="versionSequence">
                Version
            </label>
            <input name="" id="versionSequence" placeholder="" value="" disabled >
		</div>
		<a data-role="button" href="" id="editObject">
			Edit
		</a>
	</div>
	<div id="actions" class="tab-content">
		<ul id="objectActionsList" data-role="listview" data-divider-theme="b" data-inset="true">
			
        </ul>
	</div>
	<div id="collections" class="tab-content">
		<ul id="objectCollectionsList" data-role="listview" data-divider-theme="b" data-inset="true">
			
        </ul>
	</div>

	<!-- the navbar markup -->
	<div data-theme="a" data-role="footer" data-position="fixed">
		<div data-role="navbar">
		  <ul>
			<li><a href="#" class="ui-btn-active" data-href="properties">Properties</a></li>
			<li><a href="#" data-href="actions">Actions</a></li>
			<li><a href="#" data-href="collections">Collections</a></li>
		  </ul>
		</div>
	</div>
</div>