<div data-theme="a" data-role="header">
    <a data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">
        Back
    </a>
    <h3>
        Remove Dependency
    </h3>
</div>
<div data-role="content">
    <div data-role="fieldcontain">
        <label for="removeDependencyMenu">
            Choose:
        </label>
        <select id="removeDependencyMenu" name="">
            
        </select>
    </div>
	<a data-role="button" href="" class="removeDependency">
		Update
	</a>
</div>