<div data-theme="a" data-role="header">
    <a data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">
        Back
    </a>
    <h3>
        Version
    </h3>
</div>
<div data-role="content">
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <h4>
                Spec Version
            </h4>
        </div>
        <div class="ui-block-b">
            <h4 id="specVersionText">
                NA
            </h4>
        </div>
		
        <div class="ui-block-a">
            <h4>
                Implementation Version
            </h4>
        </div>
        <div class="ui-block-b">
            <h4 id="implVersionText">
                NA
            </h4>
        </div>		
    </div>
</div>